In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
!pip install ucimlrepo
from ucimlrepo import fetch_ucirepo,list_available_datasets

# Available UCI repositories 
list_available_datasets()

Requirement already satisfied: ucimlrepo in c:\users\supriya\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\supriya\anaconda3\lib\site-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\supriya\anaconda3\lib\site-packages (from ucimlrepo) (2024.2.2)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\supriya\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\supriya\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\supriya\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\supriya\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\supriya\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Annealing                                                                               3
Audiology (Standardized)                                                                8
Auto MPG                                                                                9
Automobile                                                                              10
Balance Scale                                                                           12
Balloons                                                                                13
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Prognostic)                                                    16
Breast Cancer Wisconsin (Diagnostic)                                                    17
Pittsburgh Bridges                                                                      18
Car Evaluation                                                                          19
Census Income                                                                           20
Chess (King-Rook vs. King-Pawn)                                                         22
Chess (King-Rook vs. King)                                                              23
Connect-4                                                                               26
Credit Approval                                                                         27
Japanese Credit Screening                                                               28
Computer Hardware                                                                       29
Contraceptive Method Choice                                                             30
Covertype                                                                               31
Cylinder Bands                                                                          32
Dermatology                                                                             33
Echocardiogram                                                                          38
Ecoli                                                                                   39
Flags                                                                                   40
Glass Identification                                                                    42
Haberman's Survival                                                                     43
Hayes-Roth                                                                              44
Heart Disease                                                                           45
Hepatitis                                                                               46
Horse Colic                                                                             47
Image Segmentation                                                                      50
Ionosphere                                                                              52
Iris                                                                                    53
ISOLET                                                                                  54
Lenses                                                                                  58
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Lymphography                                                                            63
Molecular Biology (Splice-junction Gene Sequences)                                      69
MONK's Problems                                                                         70
Mushroom                                                                                73
Musk (Version 1)                                                                        74
Musk (Version 2)                                                                        75
Nursery                                                                                 76
Page Blocks Classification                                                              78
Optical Recognition of Handwritten Digits                                               80
Pen-Based Recognition of Handwritten Digits                                             81
Post-Operative Patient                                                                  82
Primary Tumor                                                                           83
Servo                                                                                   87
Shuttle Landing Control                                                                 88
Solar Flare                                                                             89
Soybean (Large)                                                                         90
Soybean (Small)                                                                         91
Challenger USA Space Shuttle O-Ring                                                     92
Spambase                                                                                94
SPECT Heart                                                                             95
SPECTF Heart                                                                            96
Tic-Tac-Toe Endgame                                                                     101
Congressional Voting Records                                                            105
Waveform Database Generator (Version 1)                                                 107
Wine                                                                                    109
Yeast                                                                                   110
Zoo                                                                                     111
US Census Data (1990)                                                                   116
Census-Income (KDD)                                                                     117
El Nino                                                                                 122
Statlog (Australian Credit Approval)                                                    143
Statlog (German Credit Data)                                                            144
Statlog (Heart)                                                                         145
Statlog (Landsat Satellite)                                                             146
Statlog (Image Segmentation)                                                            147
Statlog (Shuttle)                                                                       148
Statlog (Vehicle Silhouettes)                                                           149
Connectionist Bench (Sonar, Mines vs. Rocks)                                            151
Cloud                                                                                   155
Poker Hand                                                                              158
MAGIC Gamma Telescope                                                                   159
Mammographic Mass                                                                       161
Forest Fires                                                                            162
Concrete Compressive Strength                                                           165
Ozone Level Detection                                                                   172
Parkinsons                                                                              174
Blood Transfusion Service Center                                                        176
Communities and Crime                                                                   183
Acute Inflammations                                                                     184
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Cardiotocography                                                                        193
Steel Plates Faults                                                                     198
Communities and Crime Unnormalized                                                      211
Vertebral Column                                                                        212
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Skin Segmentation                                                                       229
Individual Household Electric Power Consumption                                         235
Energy Efficiency                                                                       242
Fertility                                                                               244
ISTANBUL STOCK EXCHANGE                                                                 247
User Knowledge Modeling                                                                 257
EEG Eye State                                                                           264
Banknote Authentication                                                                 267
Gas Sensor Array Drift at Different Concentrations                                      270
Bike Sharing                                                                            275
Thoracic Surgery Data                                                                   277
Airfoil Self-Noise                                                                      291
Wholesale customers                                                                     292
Combined Cycle Power Plant                                                              294
Diabetes 130-US Hospitals for Years 1999-2008                                           296
Tennis Major Tournament Match Statistics                                                300
Dow Jones Index                                                                         312
Student Performance                                                                     320
Phishing Websites                                                                       327
Diabetic Retinopathy Debrecen                                                           329
Online News Popularity                                                                  332
Chronic Kidney Disease                                                                  336
Mice Protein Expression                                                                 342
Default of Credit Card Clients                                                          350
Online Retail                                                                           352
Occupancy Detection                                                                     357
Air Quality                                                                             360
Polish Companies Bankruptcy                                                             365
Dota2 Games Results                                                                     367
Facebook Metrics                                                                        368
HTRU2                                                                                   372
Drug Consumption (Quantified)                                                           373
Appliances Energy Prediction                                                            374
Website Phishing                                                                        379
YouTube Spam Collection                                                                 380
Beijing PM2.5                                                                           381
Cervical Cancer (Risk Factors)                                                          383
Stock Portfolio Performance                                                             390
Sales Transactions Weekly                                                               396
Daily Demand Forecasting Orders                                                         409
Autistic Spectrum Disorder Screening Data for Children                                  419
Autism Screening Adult                                                                  426
Absenteeism at work                                                                     445
Breast Cancer Coimbra                                                                   451
Drug Reviews (Druglib.com)                                                              461
Drug Reviews (Drugs.com)                                                                462
Superconductivty Data                                                                   464
Student Academics Performance                                                           467
Online Shoppers Purchasing Intention Dataset                                            468
Electrical Grid Stability Simulated Data                                                471
Real Estate Valuation                                                                   477
Travel Reviews                                                                          484
Travel Review Ratings                                                                   485
Facebook Live Sellers in Thailand                                                       488
Metro Interstate Traffic Volume                                                         492
Hepatitis C Virus (HCV) for Egyptian patients                                           503
Heart Failure Clinical Records                                                          519
Early Stage Diabetes Risk Prediction                                                    529
Pedestrians in Traffic                                                                  536
Cervical Cancer Behavior Risk                                                           537
Estimation of Obesity Levels Based On Eating Habits and Physical Condition              544
Rice (Cammeo and Osmancik)                                                              545
Algerian Forest Fires                                                                   547
Gas Turbine CO and NOx Emission Data Set                                                551
Apartment for Rent Classified                                                           555
Seoul Bike Sharing Demand                                                               560
Iranian Churn                                                                           563
Bone marrow transplant: children                                                        565
COVID-19 Surveillance                                                                   567
HCV data                                                                                571
Taiwanese Bankruptcy Prediction                                                         572
Myocardial infarction complications                                                     579
Student Performance on an Entrance Examination                                          582
Gender by Name                                                                          591
Productivity Prediction of Garment Employees                                            597
AI4I 2020 Predictive Maintenance Dataset                                                601
Dry Bean                                                                                602
In-Vehicle Coupon Recommendation                                                        603
Predict Students' Dropout and Academic Success                                          697
Auction Verification                                                                    713
NATICUSdroid (Android Permissions)                                                      722
Toxicity                                                                                728
DARWIN                                                                                  732
Accelerometer Gyro Mobile Phone                                                         755
Glioma Grading Clinical and Mutation Features                                           759
Multivariate Gait Data                                                                  760
Land Mines                                                                              763
Single Elder Home Monitoring: Gas and Position                                          799
Sepsis Survival Minimal Clinical Records                                                827
Secondary Mushroom                                                                      848
Power Consumption of Tetouan City                                                       849
Raisin                                                                                  850
Steel Industry Energy Consumption                                                       851
Higher Education Students Performance Evaluation                                        856
Risk Factor Prediction of Chronic Kidney Disease                                        857
Maternal Health Risk                                                                    863
Room Occupancy Estimation                                                               864
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891
Recipe Reviews and User Feedback                                                        911
Forty Soybean Cultivars from Subsequent Harvests                                        913

In [5]:
# Fetch the adult dataset from UCI repository 
adultdataset=fetch_ucirepo(id=2)

In [7]:
# Creating dataframe with feature columns and target columns
x=pd.DataFrame(adultdataset.data.features)
y=pd.DataFrame(adultdataset.data.targets,columns=['income'])
df=pd.concat([x,y],axis=1)
df.to_excel("adultdata.xlsx",index=False)
# Show the first few rows
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
# Show the first few rows
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
df.isnull()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48838,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
48839,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48840,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48841,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [13]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [14]:
df['workclass'] = df['workclass'].astype(str)

In [15]:
print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [16]:
# Check column names
print("Column names:")
print(df.columns)

# Ensure 'workclass' column exists
if 'workclass' in df.columns:
    # Count the occurrences of each work class
    workclass_counts = df['workclass'].value_counts()

    # Display the counts of different work classes
    print("\nCounts of different work classes:")
    print(workclass_counts)
else:
    print("The 'workclass' column is not in the DataFrame.")

Column names:
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

Counts of different work classes:
workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
nan                   963
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [17]:
df.describe(include='object')

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,income
count,48842,48842,48842,47876,48842,48842,48842,48568,48842
unique,10,16,7,15,6,5,2,42,4
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,33906,15784,22379,6172,19716,41762,32650,43832,24720